<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<input type="file" name="file" id="file">
<button type="button" class="btn btn-primary" id="image-detect">图片检测</button>
<button type="button" class="btn btn-primary" id="video-detect">视频检测</button>
<button type="button" class="btn btn-primary" id="camera-detect">摄像头检测</button>
<div id="show"></div>
<script>
    let show = document.querySelector('#show');
    let inp = document.querySelector('#file');
    inp.addEventListener('change', read_file);

    function read_file() {
        let file = this.files[0];
        console.log(file);
        //判断file的类型是不是图片类型。
        if (!/image\/\w+/.test(file.type)) {
            alert("文件必须为图片！");
            return false;
        }
        

        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            let img = document.createElement("img");
            img.src = this.result;
            img.width = 600;
            show.innerHTML = '';
            show.appendChild(img);
        }
    }
</script>
</body>
</html>
