QWidget {{
  font-size: 20px;
}}

QPushButton {{
color: {QTMATERIAL_SECONDARYCOLOR};
text-transform: none;
background-color: {QTMATERIAL_PRIMARYCOLOR};
border-radius:15px;
font-size:22px;
}}

.big_button {{
  height: 64px;
}}
